/* General */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(12, 1fr);
}

body > * {
    grid-column: 1 / span 12;
}

h2 {
    background-color: midnightblue;
    border: 0.25rem solid white;
    color: aliceblue;
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
}

p {
    padding: 0 0.75rem;
}

/* Heading */

header {
    background-color: midnightblue;
    max-height: 10rem;
    overflow: hidden;
}

header img {
    height: auto;
    max-width: 100%;
}

/* Content */

main {
    background-color: lightgrey;
}

/* Footer */

footer {
    background-color: midnightblue;
}

footer ul {
    color: aliceblue;
    list-style: none;
    text-align: center;
}