/* General */

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

body > * {
    grid-column: 1 / span 12;
}

/* Heading */

header {
    background-color: midnightblue;
    max-height: 10rem;
    overflow: hidden;
}

header img {
    height: auto;
    max-width: 100%;
}

/* Content */

main {
    background-color: lightgrey;
}

/* Footer */

footer {
    background-color: midnightblue;
}